@font-face {
    font-family: myFirstFont;
    src: url(./fonts/ThaleahFat.ttf);
}

@font-face {
    font-family: bitpotion;
    src: url(./fonts/bitpotion/BitPotion.ttf);
}

:root {
    --color1: #312e2f;
    --color2: #635c5a;
    --color3: #81776b;
    --color4: #c6b5a5;
    --color5: #ffedd4;
    --color6: #96567a;
    --color7: #aed7b9;
    --color8: #5b546c;
}


.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}
.color3 {
    color: var(--color3);
}
.color4 {
    color: var(--color4);
}
.color5 {
    color: var(--color5);
}
.color6{
    color: var(--color6);
}
.color7 {
    color: var(--color7);
}

body, html {
    background-color: var(--color1);
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    line-height: 2;
}

.brocula-logo {
    max-width: 500px;
    min-width: 500px;
}

.brocula-heading-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.brocula-heading-container h1 {
    margin-bottom: 0;
}

.brocula-heading-container h2 {
    margin-top: 0;
}

h1 {
    color: var(--color6);
}

h2 {
    color: var(--color5);
}

.brocula-sticky-container {
    height: 100vh;
}

.brocula-sticky-container-auto-height {
    height: auto;
}

.brocula-sticky-container-bottom {
    position: sticky;
    bottom: 0;
}

.brocula-screen-1 {
    background-color: var(--color1);
    position: relative;
}

.brocula-screen-1 h1,
.brocula-screen-1 h2,
.brocula-screen-1 div {
    z-index: 1;
}

.brocula-screen-2 {
    background-color: var(--color1);
    height: auto;
    padding-bottom: 50px;
}

.brocula-screen-3 {
    background-color: var(--color8);
    height: auto;
    padding-bottom: 50px;
}

.brocula-screen-4 {
    background-color: var(--color7);
    height: auto;
    padding-bottom: 50px;
}

.brocula-video-foreground, .brocula-video-foreground video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0 !important;
    object-fit: cover;
    filter: opacity(0.7);
}

.brocula-description {
    color: var(--color7);
    font-size: 13px;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
}

.brocula-creator {
    display: flex;
    align-items: center;
}

.brocula-creator img {
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

.brocula-copyright {
    color: var(--color5);
    font-size: 10px;
    padding: 5px;
    margin: 50px auto 20px;
    text-align: center;
}

.brocula-release-date {
    color: var(--color7);
}

.brocula-release-platforms {
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: var(--color4);
}

.brocula-release-text {
    font-size: 12px;
}

.brocula-release-icons img {
    width: 300px;
    padding: 50px;
    cursor: pointer;
}

.brocula-description p {
    margin-top: 20px;
}

.brocula-text--center {
    padding: 10px;
    text-align: center;
}

.brocula-email-subcribtion-close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color1);
    color: var(--color5);
    border-radius: 50%;
    font-size: 48px;
    height: 46px;
    width: 46px;
    font-family: myFirstFont;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    padding-left: 3px;
}

/* mobile */
@media only screen 
    and (min-width: 320px)  
    and (max-width: 812px) { 
    .brocula-logo {
        max-width: 100%;
        min-width: 100%;
    }
    h2 {
        font-size: 18px;
    }
    .brocula-release-date {
        padding-top: 50px;
    }
    .brocula-email-container {
        display: block;
    }
    .brocula-release-text {
        font-size: 12px;
    }
    .brocula-release-icons img {
        padding: 20px;
    }
    .brocula-description {
        font-size: 12px;
    }
    .brocula-creator {
        flex-direction: column;
    }
    .brocula-creator img {
        height: 200px;
        margin-top: 50px;
        margin-right: 0;
    }
}

/* desktop and tablets */
@media only screen 
    and (min-width: 813px) { 
    .brocula-email-container {
        display: inline-block;
    }
}


/*Email SIgnup Overtides*/

#mc_embed_signup {
    background-color: var(--color5);
    padding: 20px;
}

#mce-EMAIL {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border: none;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 25px;
}

#mc-embedded-subscribe {
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 10px;
    padding: 15px;
    background-color: var(--color2);
    color: var(--color5);
    cursor: pointer;
}

#mc-embedded-subscribe:hover {
    background-color: var(--color1);
}

.twitter-follow-button {
    color: var(--color6);
}

@media only screen and (min-width: 813px) {
    #mc_embed_signup {
        padding: 30px;
    }

    #mce-EMAIL {
        width: 50vw;
        box-sizing: content-box;
    }

    #mc-embedded-subscribe {
        width: 30vw;
        box-sizing: content-box;
    }
}


@keyframes slidy {
    0% { left: 0%; }
    1% { left: -100%; }
    5% { left: -100%; }
    6% { left: -200%; }
    10% { left: -200%; }
    11% { left: -300%; }
    15% { left: -300%; }
    16% { left: -400%; }
    20% { left: -400%; }
    21% { left: -500%; }
    25% { left: -500%; }
    26% { left: -600%; }
    30% { left: -600%; }

    31% { left: -700%; }
    35% { left: -700%; }
    36% { left: -800%; }
    40% { left: -800%; }
    41% { left: -900%; }
    45% { left: -900%; }
    46% { left: -1000%; }
    50% { left: -1000%; }

    51% { left: -1100%; }
    55% { left: -1100%; }
    56% { left: -1200%; }
    60% { left: -1200%; }
    61% { left: -1300%; }
    65% { left: -1300%; }
    66% { left: -1400%; }
    70% { left: -1400%; }

    71% { left: -1500%; }
    75% { left: -1500%; }
    76% { left: -1600%; }
    80% { left: -1600%; }
    81% { left: -1700%; }
    85% { left: -1700%; }
    86% { left: -1800%; }
    90% { left: -1800%; }

    91% { left: -1900%; }
    95% { left: -1900%; }
    96% { left: -2000%; }
    100% { left: -2000%; }
}

.brocula-image-slider { 
    overflow: hidden; 
    width: 100%;
    padding-top: 50px;
}
.brocula-image-slider figure img { 
    width: 5%; float: left; 
}
.brocula-image-slider figure { 
    position: relative;
    width: 2000%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 100s slidy infinite; 
}

.brocula-social-media__container {
    padding: 50px 0;
    display: flex;
    width: 250px;
    margin: 0 auto;
}

.brocula-social-media__info {
    flex: 1;
    text-align: center;
}

.brocula-social-media__info img{
    height: 100px;
}

.brocula-social-media__info.top img{
    height: 25px;
}

.brocula-social-media__container.top {
    width: 75px;
}
